.vote-animate {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.scale-125 {
    transform: scale(1.25);
}

.text-yellow-500 {
    color: #f59e0b;
}


/* Example CSS */
.opinion-list {
    transition: opacity 0.3s ease;
}

.loading {
    opacity: 0;
}